<table class="table-auto my-8">
  <thead class="text-gray-500">
  <tr>
    <th>Entry name</th>
    <th>Timeslot</th>
    <th>Room</th>
    <th>Fair</th>
    <th>Judging Options</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody class="text-gray-700">
  <% entries.each do |entry| %>
    <tr>
      <td><%= link_to entry.entry_name, entry, class: 'text-teal-500' %></td>
      <td><%= entry.timeslot_description %></td>
      <td><%= entry.location_description %></td>
      <td><%= entry.fair.name %></td>
      <td>
        <ul>
          <li><%= entry.in_person_option %></li>
          <li><%= entry.scored_option %></li>
        </ul>
      </td>

      <% if @past_entries %>
        <td>
          <% entry.scoresheets.each do |scoresheet| %>
            <%= link_to 'View Scoresheet', entry_scoresheet_path(entry, scoresheet) %>
            <br>
          <% end %>
        </td>
      <% else %>
        <% if entry.fair.entries_allowed || @current_user.admin? %>
          <td><%= link_to 'Edit', edit_entry_path(entry), class: 'text-teal-500' %></td>
        <% else %>
          <td class="text-gray-400 cursor-not-allowed">Edit</td>
        <% end %>
        <td><%= link_to 'Add Group Entrants', entry_user_entries_path(entry), class: 'text-teal-500' %></td>
      <% end %>

      <% if current_user.admin? %>
        <td><%= link_to 'Delete Entry', entry, method: :delete, data: {confirm: 'This will delete all associated judge assignments, group entrants, and scoresheets.  Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>