<%= render partial: 'layouts/navigation', locals: {enable: 'entries'} %>

<%= render partial: 'entry_index', locals: {entries: @entries.joins(:fair).where('finalized = ?', false)} %>

<h1 class="text-gray-500 text-xl">Entries from previous fairs</h1>

<%= render partial: 'entry_index', locals: {entries: @entries.joins(:fair).where('finalized = ?', true), past_entries: true} %>

<% if current_user.admin? %>
  <h1>All entries</h1>

  <%= render partial: 'entry_index', locals: {entries: Entry.all.order(:fair_id, :entry_name)} %>
<% end %>

<%= link_to 'Submit a New Entry', new_entry_path, class: "bg-teal-500 hover:bg-teal-300 font-bold py-6 px-12 text-3xl lg:text-base lg:py-2 lg:px-4 rounded" %><br>
