<%= render partial: 'layouts/navigation', locals: {enable: 'entries'} %>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Entrants:</label>
  <div class="m-2 text-gray-700"
       <% UserEntry.entrants(@entry).each do |user| %>
       <%= user.email %> - <%= user.sca_name %><br>
    <% end %>
  </div>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Entry name:</label>
  <%= @entry.entry_name %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Description:</label>
  <%= simple_format @entry.description, class: "text-gray-700" %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Category:</label>
  <%= @entry.category.name %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Timeslot:</label>
  <%= @entry.fair.scheduling_visible ? @entry.timeslot_description : "Not Assigned Yet" %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Room:</label>
  <%= @entry.fair.scheduling_visible ? @entry.location_description : "Not Assigned Yet" %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Fair:</label>
  <%= @entry.fair.name %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Materials:</label>
  <%= @entry.materials %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Culture:</label>
  <%= @entry.culture %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Time Period:</label>
  <%= @entry.time_period %>
</div>

<div class="m-2 text-gray-700"><label class="font-bold text-gray-500">Judging Options:</label></div>

<div class="m-2 text-gray-700">
  <ul>
    <li class="text-gray-700"><%= @entry.in_person_option %></li>
    <li class="text-gray-700"><%= @entry.scored_option %></li>
  </ul>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Pentathlon?:</label>
  <%= @entry.pentathlon %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Division?:</label>
  <%= @entry.division %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">First time?:</label>
  <%= @entry.first_time %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Youth?:</label>
  <%= @entry.youth %>
</div>

<div class="my-5">
  <%= link_to 'Edit', edit_entry_path(@entry), class: "bg-teal-500 hover:bg-teal-300 font-bold py-6 px-12 text-3xl lg:text-base lg:py-2 lg:px-4 rounded" %>
  <%= link_to 'Back', entries_path, class: "py-2 px-4 text-3xl hover:text-teal-500 text-gray-500 font-bold lg:text-base rounded" %>
</div>
