<%= render partial: 'layouts/navigation', locals: {enable: 'user'} %>

<div class="my-5">
  <% if current_user.admin? && @user.id != current_user.id %>
    <div class="alert alert-danger">
      <h4>You are currently in admin mode and are viewing a user other than yourself.</h4>
    </div>
  <% end %>

  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(user_role.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :region, class: 'field-label' %>
      <%= form.select :region_id, Region.all.map { |m| [m.name, m.id] }, {}, class: 'default-select' %>
    </div>

    <% if current_user.admin? %>
      <div class="field">
        <%= form.label :user_role, class: 'field-label' %>
        <%= form.select :user_role_id, UserRole.all.map { |m| [m.role_name, m.id] }, {}, class: 'default-select' %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, class: 'field-label' %>
      <%= form.text_field :name, class: 'default-text-field' %>
    </div>

    <div class="field">
      <%= form.label :sca_name, class: 'field-label' %>
      <%= form.text_field :sca_name, class: 'default-text-field' %>
    </div>

    <div class="field">
      <%= form.label "Peerages:", class: 'field-label' %>
      <%= form.collection_check_boxes(:peerage_ids, Peerage.all, :id, :description) do |b| %>
      <span>
        <%= b.label(class: "field-label") { b.check_box + " " + b.text } %>
      </span>
      <% end %>
    </div>

    <div class="m-2 text-gray-700">If you will not be judging entries, you may ignore these questions.</div>

    <div class="field">
      <%= form.check_box :written, class: "h-6 w-6 lg:h-auto lg:w-auto" %>
      <%= form.label 'I prefer to not judge entries face-to-face.', class: 'text-gray-700 text-4xl lg:text-base' %>
    </div>

    <div class="my-5">
      <%= form.submit class: 'important-button' %>
      <%= link_to "Change your password", edit_user_registration_path, class: 'less-important-button' %>
      <% if current_user.admin? %>
        <%= link_to 'Back', users_path, class: 'less-important-button' %>
      <% else %>
        <%= link_to 'Back', current_user, class: 'less-important-button' %>
      <% end %>
    </div>
  <% end %>
</div>