<%= render partial: 'layouts/navigation', locals: {enable: 'user'} %>

<% if current_user.admin? && @user.id != current_user.id %>
  <div class="alert alert-danger">
    <h4>You are currently in admin mode and are viewing a user other than yourself.</h4>
  </div>
<% end %>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Email:</label>
  <%= @user.email %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Name:</label>
  <%= @user.name %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">SCA Name:</label>
  <%= @user.sca_name %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Region:</label>
  <%= @user.region.name %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Peerage(s):</label>
  <br>
  <% @user.peerages.each do |peerage| %>
    <%= peerage.description %><br>
  <% end %>
</div>

<div class="m-2 text-gray-700">
  <label class="font-bold text-gray-500">Prefers written entries?</label>
  <%= @user.written %>
</div>

<% if current_user.admin? %>
  <%= link_to 'Manage judging preferences', user_judge_preferences_path(@user) %>
<% end %>

<div class="my-5">
  <%= link_to 'Edit', edit_user_path(@user), class: 'important-button' %>
</div>