<h2 class="text-4xl lg:text-3xl text-gray-700">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "m-2 block text-gray-700 text-4xl lg:text-sm font-bold mb-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-2xl lg:text-base shadow appearance-none border rounded w-full py-4 px-3 lg:px-auto lg:py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="actions my-5">
    <%= f.submit "Send me reset password instructions", class: "bg-teal-500 hover:bg-teal-300 font-bold py-6 px-12 text-3xl lg:text-base lg:py-2 lg:px-4 rounded" %>
  </div>
<% end %>

<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-xl lg:text-xs text-gray-600" %>
