<!DOCTYPE html>
<html>
<head>
  <title>Midrealm Arts and Sciences Fair Portal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<div class="absolute top-0 left-0 p-4 w-screen flex items-center justify-between bg-teal-500">
  <div>
    <%= link_to 'Midrealm Arts and Sciences Portal', root_path, class: "text-4xl lg:text-3xl font-semibold" %>
  </div>
  <div class="lg:block">
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "py-2 px-4 text-3xl bg-white opacity-100 hover:bg-teal-300 lg:text-base font-bold rounded" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "py-2 px-4 text-3xl hover:text-teal-300 text-white font-bold lg:text-base rounded" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "py-2 px-4 text-3xl bg-white opacity-100 hover:bg-teal-300 lg:text-base font-bold rounded" %>
    <% end %>
  </div>
</div>

<body class="bg-teal-700 py-10">
<div class="body">
  <% flash.each do |name, msg| %>
    <% if msg.class == Array %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, id: "flash_#{name}", class: "alert alert-#{name}" %>
      <% end %>
    <% else %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>
  <% end %>

  <div class="w-full lg:max-w-full lg:flex rounded overflow-hidden shadow-lg bg-white">
    <div class="px-6 py-4">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
